doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        link(rel='stylesheet' href='./css/bootstrap.css')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
        link(rel='stylesheet' href='./css/main.css')
        title Loreto Rainbow Homes | Our Achievements
    
    body
        include includes/header.pug

        main#achievements
            .jumbotron.jumbotron-fluid.achievements-bg.mb-0

            .container.py-5
                .row
                    .col-md-12
                        h1 Our achievements
                        hr
                .row
                    .col-md-3.img-prabha
                    .col-md-3.p-3.description-block.desc-prabha
                        h3 Prabha Kujur
                        h4.pb-3 Secured a job
                        p Prabha is with us since 2006. She stays in Loreto Rainbow Home Bow Bazar. She passed her Board Examination in 2017 and completed her Hotel Management training from NSHM and got a job in Park Street Subway.
                    .col-md-3.img-shampa
                    .col-md-3.p-3.description-block.desc-shampa
                        h3 Shampa Naskar
                        h4.pb-3 A Gold medallist in Athletes
                        p Shampacame to us when she was 3-year-old. She is getting trained as an athlete from Chandan Nagar Club, Hooghly. She won the district level tournament in the walking category and received a gold medal in 2016.
                
                .row
                    .col-md-3.p-3.description-block.desc-dipika
                        h3 Dipika Mondal
                        h4.pb-3 Working in Chaiwala
                        p Dipika stays in Shantirani Rainbow Home. After completion of her training on Retail Management from NSHM, she is now working in Chaiwala as a full-time employee.
                    .col-md-3.img-dipika
                    .col-md-3.p-3.description-block.desc-salma
                        h3 Salma Khatun
                        h4.pb-3 An assistant of a Dentist
                        p Salma lives in Loreto Rainbow Home Bow bazar. In 2018, she got an opportunity to train as an assistant to a Dentist through some volunteers.
                    .col-md-3.img-salma
                
                .row
                    .col-md-12
                        h2.my-3 More achievements
                        ul
                            li 
                                span.success-count 41
                                |  girls appeared for class X examination and 29 girls appeared for Class XII in 2018.
                            li 
                                span.success-count 13
                                |  girls received scholarships from different agencies to pursue their graduation in 2017.
                            li 
                                span.success-count 5
                                |  girls are continuing their second year of graduation in St. Aloysius College in Bangalore after having secured 1st division marks in their first-year examination in 2018.
                            li 
                                span.success-count 3
                                |  girls scored in their 80&rsquo;s for their first year ITI diploma course in Electronics Mechanics in 2018.
                            li 
                                span.success-count 3
                                |  girls now have full time jobs in 2018, after successful completion of hospitality course.
                            li 
                                span.success-count 1
                                |  girl is receiving training from a dentist in 2018.                

        include includes/footer.pug