doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        link(rel='stylesheet' href='./css/bootstrap.css')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
        link(rel='stylesheet' href='./css/main.css')
        title Loreto Rainbow Homes | Our Journey
    
    body
        include includes/header.pug

        main#milestone
            .jumbotron.jumbotron-fluid.milestone-bg.mb-0

            .container.py-5
                .row
                    .col-md-12
                        h1 Our journey
                        hr
                        .timeline-container
                            .timeline-wrap
                                .timeline-row.entry
                                    .left-side
                                        .timeline-con
                                            .year 1985
                                    .timeline-ico
                                    .right-side
                                        .content
                                            p The journey started when a leadership initiative was taken by class IX students of Loreto day School Sealdah, under the guidance of Sister Cyril, who opened a drop in centre in the school for the platform and pavement children in and around Kolkata.
                                .timeline-row.entry
                                    .right-side
                                        .timeline-con
                                            .year 1994
                                    .timeline-ico
                                    .left-side
                                        .content
                                            p The drop-in-centre was converted into a 24-hour shelter home after a 4 years old girl was brutally raped at night on the streets.
                                .timeline-row.entry
                                    .left-side
                                        .timeline-con
                                            .year 2002
                                    .timeline-ico
                                    .right-side
                                        .content
                                            p Late Fred Van Koolwjick committed to provide financial support for the Rainbow Homes and 4 new homes were started in Kolkata.
                                .timeline-row.entry
                                    .right-side
                                        .timeline-con
                                            .year 2003
                                    .timeline-ico
                                    .left-side
                                        .content
                                            p Loreto Rainbow Home, Bowbazar was founded and the number of children increased to 206.
                                .timeline-row.entry
                                    .left-side
                                        .timeline-con
                                            .year 2004
                                    .timeline-ico
                                    .right-side
                                        .content
                                            p Loreto House Rainbow Home started functioning.
                                .timeline-row.entry
                                    .right-side
                                        .timeline-con
                                            .year 2006
                                    .timeline-ico
                                    .left-side
                                        .content
                                            p Loreto Rainbow Home Dharamtala was set up. The concept of Rainbow Homes expands beyond Loreto and becomes a PAN India movement in 8 cities with 43 homes.
                                .timeline-row.entry
                                    .left-side
                                        .timeline-con
                                            .year 2007
                                    .timeline-ico
                                    .right-side
                                        .content
                                            p Shantirani Rainbow Home at Bansdroni was recognized as a Rainbow Home. and, Loreto Rainbow Home, Elliot Road was established.
                                .timeline-row.entry
                                    .right-side
                                        .timeline-con
                                            .year 2016
                                    .timeline-ico
                                    .left-side
                                        .content
                                            p Kolkata State Office started.


        include includes/footer.pug