.non-negotiable-block.pt-5
    .container
        h2.text-center.mb-5 Our Non-Negotiable principle
        .row
            .col-md-3
                .col-md-12.p-4.mb-4.principle-block.text-center
                    i.fa.fa-home.mb-4
                    | Never ask the child to LEAVE the home
            .col-md-3
                .col-md-12.p-4.mb-4.principle-block.text-center
                    i.fa.fa-heart.mb-4
                    | Care for children with LOVE, EQUALITY and DIGNITY
            .col-md-3
                .col-md-12.p-4.mb-4.principle-block.text-center
                    i.fa.fa-female.mb-4
                    | Never beat, scold or any form of VIOLENCE will be used on any child
            .col-md-3
                .col-md-12.p-4.mb-4.principle-block.text-center
                    i.fa.fa-eye.mb-4
                    | The child will be an EQUAL PARTICIPANT IN ALL DECISIONS AFFECTING her
            .col-md-3
                .col-md-12.p-4.mb-4.principle-block.text-center
                    i.fas.fa-gem.mb-4
                    | The best interest of the child will be at the CENTRE OF ALL DECISION MAKING process
            .col-md-3
                .col-md-12.p-4.mb-4.principle-block.text-center
                    i.fa.fa-rocket.mb-4
                    | We CELEBRATE DIVERSITY and RESPECT PERSONAL CHOICES irrespective of Region, Caste, Gender, colour and Creed
            .col-md-3
                .col-md-12.p-4.mb-4.principle-block.text-center
                    i.fa.fa-check-square.mb-4
                    | Educating the children as HUMANITARIAN AND RESPONSIBLE CITIZENS
            .col-md-3
                .col-md-12.p-4.mb-4.principle-block.text-center
                    i.fa.fa-flag.mb-4
                    | ACCOUNTABILTY and TRANSPARENCY in the homes