.recent-causes-block.py-5
    .container
        h2.text-center.mb-5 Recent Causes
        .row
            .col-md-4
                .card(style='width: 18rem;')
                    img.card-img-top(src='http://lorempixel.com/180/166/' alt='Card image cap')
                    .card-body
                        h5.card-title Card title
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                        a.btn.btn-primary(href='#') Go somewhere
            .col-md-4
                .card(style='width: 18rem;')
                    img.card-img-top(src='http://lorempixel.com/180/166/' alt='Card image cap')
                    .card-body
                        h5.card-title Card title
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                        a.btn.btn-primary(href='#') Go somewhere
            .col-md-4
                .card(style='width: 18rem;')
                    img.card-img-top(src='http://lorempixel.com/180/166/' alt='Card image cap')
                    .card-body
                        h5.card-title Card title
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                        a.btn.btn-primary(href='#') Go somewhere