footer.mb-0.py-5
    .container
        .row
            .col-md-4
                h6.pb-4.mb-4 Address
                address
                    strong Loreto Rainbow Homes, State Office
                    br
                    | Address: 7, Middleton Row Kolkata-700071
                    br
                    | Email: 
                    a(href='mailto:loretorhcoor@gmail.com') loretorhcoor@gmail.com
                    br
                    | Phone: 
                    a(href='tel:+913346036292') 033 4603 6292
                    br
                    | Time: Monday - Saturday; 9:30 a.m. - 5:30 p.m.
            .col-md-4
                h6.pb-4.mb-4 Menu
                ul.menu-links
                    li About us
                        ul
                            li
                                a(href='#') Milestones
                            li
                                a(href='#') Achievements
                            li
                                a(href='#') What makes us different
                            li
                                a(href='#') Our Team
                    li Programs
                        ul
                            li
                                a(href='#') Loreto Rainbow Homes Program
                            li
                                a(href='#') Udaan
                    li
                        a(href='#') Work with us
                    li Media
                        ul
                            li
                                a(href='#') Photo Gallery
                            li
                                a(href='#') Video Gallery
                    li
                        a(href='#') Blog
                    li
                        a(href='#') Reach us

            .col-md-4
                h6.pb-4.mb-4 Others
        
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous')                            
