header
    .header-top
        .container
            .float-left
                ul.p-0.m-2
                    li
                        a(href="#") loretorhcoor@gmail.com
                    li 
                        a(href="#") 033 4603 6292
            .float-right                
                a.btn.btn-orange.mt-1.px-5(href='./donate.html') Make Donation
            .clearfix
    .header-main.text-center
        a(href='/' title='Loreto Rainbow Homes')
            img.site-logo.my-3(src='./assets/logo.png' alt='Loreto rainbow Homes Logo')
    .header-bottom
        .container
            include navigation.pug