nav.navbar.navbar-expand-sm
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#mainNavigation' aria-controls='mainNavigation' aria-expanded='false' aria-label='Toggle navigation')
        i.fas.fa-bars
    #mainNavigation.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.dropdown
                a#dropdown01.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') About us
                .dropdown-menu(aria-labelledby='dropdown01')
                    a.dropdown-item(href='./journey.html') Our journey
                    a.dropdown-item(href='./achievements.html') Achievements
                    a.dropdown-item(href='#') What makes us different
                    a.dropdown-item(href='#') Our Team
            li.nav-item.dropdown
                a#dropdown02.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Programs
                .dropdown-menu(aria-labelledby='dropdown02')
                    a.dropdown-item(href='#') Loreto Rainbow Homes Program
                    a.dropdown-item(href='#') Udaan
            li.nav-item
                a.nav-link(href='./work-with-us.html') Work with us
            li.nav-item.dropdown
                a#dropdown03.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Media
                .dropdown-menu(aria-labelledby='dropdown03')
                    a.dropdown-item(href='#') Photo Gallery
                    a.dropdown-item(href='#') Video Gallery
            li.nav-item
                a.nav-link(href='#') Blog
            li.nav-item
                a.nav-link(href='./reach-us.html') Reach us
        .form-inline.my-2.my-md-0
            a.nav-link.p-2(href='#')
                i.fab.fa-facebook-square
            a.nav-link.p-2.mr-0(href='#')
                i.fab.fa-youtube-square
            a.nav-link.p-2.mr-0(href='#')
                i.fab.fa-instagram