$dark-grey: rgba(51, 51, 51, 1.0);
$dark-grey-1: rgba(44, 42, 45, 1.0);
$dark-grey-2: rgba(28, 28, 30, 1.0);
$dark-grey-3: rgba(91, 89, 90, 1.0);
$dark-orange: rgba(218, 75, 58, 1.0);
$dark-yellow: rgba(255, 199, 90, 1.0);
$light-grey: rgba(246, 246, 246, 1.0);
$light-grey-2: rgba(210, 210, 210, 1.0);
$light-tan: rgba(259, 242, 232, 1.0);
$white: rgba(255, 255, 255, 1.0);